<section class="header">
  <div class="container">
    <div class="nav">
      <div class="header_logo">
        <a href="#">Logo</a>
      </div>
      <ul class="header_nav desktop_view">
        <li class="nav_item"> <a class="nav_item_link" href="#">So Funktioniert's</a> </li>
        <li class="nav_item"> <a class="nav_item_link" href="#">Sonderangebote</a> </li>
        <li class="nav_item"> 
          <a class="nav_item_link" href="#">
            <i class="las la-user"></i>
            Mein Bereich
            <i class="las la-angle-down"></i>
          </a>
          <ul class="sub_nav">
            <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#">My publishd jokes</a> </li>
            <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> My saved jokes </a> </li>
            <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> Account information </a> </li>
            <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> Publish new joke </a> </li>
          </ul>
        </li>
      </ul>
      <div class="mobile_nav_area mobile_view">
        <button><i class="las la-bars"></i></button>
        <ul class="mobile_nav">
          <li class="nav_item"> <a class="nav_item_link" href="#">So Funktioniert's</a> </li>
          <li class="nav_item"> <a class="nav_item_link" href="#">Sonderangebote</a> </li>
          <li class="nav_item"> 
            <a class="nav_item_link" href="#">
              Mein Bereich
              <i class="las la-angle-down"></i>
            </a>
            <ul class="sub_nav">
              <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#">My publishd jokes</a> </li>
              <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> My saved jokes </a> </li>
              <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> Account information </a> </li>
              <li class="sub_nav_item"> <a class="sub_nav_item_link" href="#"> Publish new joke </a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="banner_content">
  <div class="container">
      <div class="banner_content_text">
        <h1> The Joke Bible </h1>
        <p> Daily Laughs for you and yours </p>
      </div>
      <div class="search_box">
        <input 
          type="text" 
          placeholder="How can we make you laugh today?"
          [(ngModel)]="searchJokes">
        <i class="las la-search"></i>
        <div class="search_box_autocomplete_box" *ngIf="searchJokes">
          <ul class="search_box_autocomplete">
            <li *ngFor="let jock of jocks_list"> {{jock}}: The Crazy Teacher </li>
          </ul>
        </div>
      </div>
  </div>
</section>

<section class="body">
  <div class="slide" [ngClass]="isDetailsView?'transform_left_default':'transform_left'">
    <div class="container">
      <div class="row">
        <div class="grid_5 margin_bottom_15" *ngFor="let jocks of jocks_list">
          <button class="filter_button">{{jocks}}</button>
        </div>
        <div class="grid_5 margin_bottom_15">
          <button class="all_button">View All <i class="las la-arrow-down"></i></button>
        </div>
      </div>
      <div class="body_title">
        <span>Social Jokes</span>
      </div>
      <div class="row">
        <div class="grid_3 margin_bottom_15">
          <div class="jokes_box">
            <h3> <img src="../assets/images/yellow-light.png" alt=""> Test Jokes </h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolores quae maiores nam temporibus, ipsum alias modi fugiat error obcaecati maxime impedit sit perspiciatis aspernatur dolorem saepe provident, dolore iste.
            </p>
            <button class="red_more" (click)="viewDetails()">See Stats <i class="las la-arrow-right"></i></button>
          </div>
        </div>
        <div class="grid_3">
          <div class="jokes_box">
            <h3> <img src="../assets/images/yellow-light.png" alt=""> Test Jokes </h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolores quae maiores nam temporibus, ipsum alias modi fugiat error obcaecati maxime impedit sit perspiciatis aspernatur dolorem saepe provident, dolore iste.
            </p>
            <button class="red_more" (click)="viewDetails()">See Stats <i class="las la-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide" [ngClass]="isDetailsView?'transform_right':'transform_right_default'">
    <div class="container">
      <div class="details_header">
        <button (click)="viewDetails()"><i class="las la-angle-left"></i></button>
      </div>
      <div class="row">
        <div class="grid_66 margin_bottom_15">
          <div class="jokes_details_box">
            <ul class="jokes_details_box_header">
              <li class="category_title"> <span></span> Social Jokes</li>
              <li class="popular_tag"> <span></span> Popular</li>
              <li class="trending_tag"> <span></span> Trending</li>
              <li class="epic_tag"> <span></span> Epic</li>
            </ul>
            <div class="jokes_details_box_title">
              <h1>The Granny Joke</h1>
              <span></span>
              <h5>No #1</h5>
            </div>
            <p> 
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores accusamus tenetur, suscipit veniam voluptatem ipsa quo amet laboriosam blanditiis minima quam laudantium, et impedit sequi quos! Cupiditate accusamus similique fugit.
            </p>
          </div>
          <div class="jokes_details_footer">
            <ul class="like_dislike">
              <li>
                <button class="like_bg"> <img src="../assets/images/like.png" alt=""> </button>
                <span class="like_color">320</span>
              </li>
              <li>
                <button class="dislike_bg"> <img src="../assets/images/dis_like.png" alt=""> </button>
                <span class="dislike_color">20</span>
              </li>
            </ul>
            <ul class="next_previous">
              <li class="previous_btn"> <i class="las la-angle-left"></i> Prev. Joke </li>
              <li class="next_btn"> Next Joke <i class="las la-angle-right"></i></li>
            </ul>
          </div>
        </div>
        <div class="grid_33 margin_bottom_15">
          <div class="top_jokes">
            <h3>The top 10 jokes this week</h3>
            <ul>
              <li>Smoking Jokes</li>
              <li>My Boss Joke</li>
              <li>Dirty Millionaire Joke</li>
              <li>Smoking Jokes</li>
              <li>My Boss Joke</li>
              <li>Dirty Millionaire Joke</li>
              <li>Smoking Jokes</li>
              <li>My Boss Joke</li>
              <li>Dirty Millionaire Joke</li>
              <li>Dirty Millionaire Joke</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer>
  <div class="container">
      <h3>Got Jokes? Get Paid <br> For Submitting! </h3>
      <button class="red_more">Submit Joke <i class="las la-arrow-right"></i></button>
  </div>
</footer>