/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,700&family=Poppins:ital,wght@1,300&display=swap');
*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}


/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1366px) {
    .container {
        max-width: 1280px;
    }
}
/* Grid */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}
.grid_40{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_60{
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_33{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;;
    max-width: 33.33333%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_66{
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_3 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
.grid_1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

@media (max-width: 1199px) {
    .grid_5 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width: 991px) {
    .grid_5, .grid_4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .grid_2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .grid_5, .grid_4, .grid_3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .grid_40, .grid_60, .grid_33, .grid_66{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .grid_5, .grid_4, .grid_3, .grid_2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Style */
.pad_40{
    padding: 40px;
}
.margin_bottom_50{
    margin-bottom: 50px;
}
.margin_bottom_30{
    margin-bottom: 30px;
}
.margin_bottom_15{
    margin-bottom: 15px;
}